@charset "UTF-8";
* {
	margin:0;
	padding:0;
}

body{
    height: 100%;
	/* line-height: 0.8rem; */
}

.container-fluid{
    background-image:url(../img/back.jpg);;
    padding-bottom: 0px ! important;
    margin-bottom: 0px;
    margin-top: 0px ! important;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    zoom: 1;
    background-color: #a50007;
    background-size: cover;
    background-position: center 0;
    text-align: center;
}


    /* border-left:2px solid #e4ae45;
    border-right:2px solid #e4ae45;
    border-bottom:2px solid #a50007;
    border-top:2px solid #e4ae45; */
